In [1]:
import numpy as np
import pandas as pd
#pregunta 8

In [4]:
db = pd.read_excel('data/10080Table1.xls')
new_header = db.iloc[0] #toma la primera fila para la cabecera
db = db[1:]             #toma los datos menos la fila de la cabecera 
db.columns = new_header #poner la fila de cabecera como cabecera de df
db = db.iloc[0:10]
db

,Common name,Genus species,"Total sleep time, hr","REM sleep time, hr","sleep cycle time, min","Total awake time, hrs",(Total sleep time)/(Total awake time),"R, fraction of sleep time spent in REM","Brain mass, g","Body mass, kg",Body mass ref.
1,Short-nosed echidna,Tachyglossus aculeatus,8.6,NaN,NaN,15.4,0.558442,NaN,25,4.5,2
2,North American Opossum,Didelphis virgiania,18,4.9,20,6,3,0.272222,6.3,1.7,3
3,Thick-tailed opposum,Lutreolina crassicaudata,19.4,6.6,NaN,4.6,4.217391,0.340206,NaN,0.37,4
4,Phalanger,Phalanger orientalis,13.7,1.8,NaN,10.3,1.330097,0.131387,11.4,1.62,3
5,Potoroo,Potorous tridactylus,11.1,1.5,NaN,12.9,0.860465,0.135135,NaN,1.1,2
6,European hedgehog,Erinaceus europaeus,10.1,3.5,17,13.9,0.726619,0.346535,3.5,0.77,2
7,Desert hedgehog,Paraechinus hypomelas,10.3,2.7,NaN,13.7,0.751825,0.262136,2.4,0.55,3
8,Tenrec,Tenrec ecaudatus,15.6,2.3,NaN,8.4,1.857143,0.147436,2.6,0.9,3
9,Greater short-tailed shrew,Blarina brevicauda,14.9,2.3,8,9.1,1.637363,0.154362,0.29,0.019,3
10,Lesser short-tailed shrew,Cryptotis parva,9.1,1.4,9,14.9,0.610738,0.153846,0.14,0.005,3

In [5]:
#archivo xls tranformado a dataframe y seleccionando los primero 10 registros de la columna "Total awake time, hrs" 
#y cree una lista de nombre lista 1 
lista1 = list(db['Total sleep time, hr'])
lista1

[8.6, 18, 19.4, 13.7, 11.1, 10.1, 10.3, 15.6, 14.9, 9.1]

In [4]:
sum(lista1)/len(lista1)
#13.079

13.079999999999998

In [5]:
round(sum(lista1)/len(lista1),3)
#13.08

13.08

In [6]:
lista1[5]
#10.1

10.1

In [7]:
lista1[8:]
#[14.9,9.1]

[14.9, 9.1]

In [8]:
lista1.extend(["gbi6","bio1","ikiam"])

In [9]:
len(lista1)
#13

13

In [10]:
lista1.append(["gbi6","bio1","ikiam"])
#no retorna nada

In [11]:
lista1[-1][2]
#ikiam

'ikiam'